node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/.pnp

!.yarn/releases
!.yarn/plugins
.yarn/cache
.yarn/*.gz
.pnp.*
yarn-error.log

# macOS
.DS_Store
